# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/

# Logs
*.log

# IDE folders
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Python cache
.cache/
